// color
$color-01: #FFFFFF;
$color-02: #525252;
$color-03: #F2F2F2;
$color-04: #333333;
$color-05: #CECECE;
$color-06: #DDDDDD;
$color-07: #F0F0F0;
$color-08: #00000033;
$color-09: #FFFFFFF2;
$color-10: #000000;
$color-11: #222222;
$color-12: #00000057;
$color-13: #222222F2;